<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Hello Spring Boot</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
          rel="stylesheet"/>
</head>
<body>
<div class="panel panel-default" style="margin: 10px">
    <div class="panel-heading">
        <h1 class="panel-title">Alunos</h1>
    </div>
</div>
<form class="form-inline" method="POST" th:object="${usuarioEntity}"
      th:action="@{/pogba}" style="margin: 20px 0">
    <input type="text" class="form-control" placeholder="Nome"
           th:field="*{name}"/>
    <input type="text" class="form-control"placeholder="Nome" th:field="*{username}"/>
    <input type="password" class="form-control"placeholder="senha" th:field="*{password}"/>
    <button type="submit" class="btn btn-primary">Adicionar</button>
    <label class="label">
        <thead>
        <tr>
            <th>Estagiario</th>
            <th>ADMIN</th>
            <th>USUARIO</th>
        </tr>
        </thead>


            <input type="checkbox" name="tagEntity" th:value="${tag.id}"/>
    </label>
</form>
<div class="panel-body">
    <table class="table">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Password</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user : ${usuarioEntiys}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.password}"></td>
        </tr>
        </tbody>

    </table>
</div>

</div>
</body>
</html>