<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:object="${tagTO}" th:action="@{/cadastroTag}">

    <div class="input-group">
        <label>
            <input type="text" th:field="*{nomeTag}">
        </label>
    </div>
    <div class="input-group-append">
        <input type="submit" value="Cadastrar"/>
    </div>

</form>


<div class="panel panel-default" style="margin: 10px">

    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>id</th>
                <th>nome</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="registros : ${tags}">
                <td th:text="${registros.id}"></td>
                <td th:text="${registros.nomeTag}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>