<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
</head>
<body>

<div class="panel panel-default" style="margin: 10px">

    <div class="panel-heading">
        <form class="form-inline" method="post" th:object="${usuarioTO}" th:action="@{/cadastro}" style="margin: 20px 0">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nome" th:field="*{name}"/>
                <input type="text" class="form-control" placeholder="Sobrenome" th:field="*{lastName}"/>
                <input type="text" class="form-control" placeholder="Username" th:field="*{username}"/>
                <input type="text" class="form-control" placeholder="Password" th:field="*{password}"/>
                <button type="submit" class="btn btn-primary">Adicionar</button>
            </div>






        </form>

    </div>
</div>

<div class="panel panel-default" style="margin: 10px">

    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="users : ${user}">
                <td th:text="${users.id}"></td>
                <td th:text="${users.name}"></td>
                <td th:text="${users.lastName}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>