<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="panel panel-default" style="margin: 10px">

    <div class="panel-heading">
        <form class="form-inline" method="post" th:object="${usuarioTO}" th:action="@{/efetuarLogi}"
              style="margin: 20px 0">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Login" th:field="*{username}"/>
                <input type="text" class="form-control" placeholder="Login" th:field="*{password}"/>
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>