<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Upload</title>
</head>
<body>

<div th:if="${message}">
    <h2 th:text="${message}"></h2>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="/upload">

                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" name="file" accept="image/*, video/*, audio/*" />
                            <input type="file" class="custom-file-input" id="inputGroupFile02">
                        </div>



                        <label>
                                <div th:each="tag : ${tags}">
                                    <h6 th:text="${tag.nomeTag}"></h6>
                                    <input type="checkbox" name="tagEntity" th:value="${tag.id}" />
                                </div>
                        </label>



                        <div class="input-group-append">
                            <input type="submit" value="Upload" class="input-group-text" id="inputGroupFileAddon02"/>
                        </div>
                    </div>


    </form>
</div>







</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>
