<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Upload</title>
</head>
<body>

<div th:if="${message}">
    <h2 th:text="${message}"></h2>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="/upload">

                    <div class="input-group mb-3">
                        <div class="custom-file">
                    <input type="file" name="file" accept="image/*, video/*, audio/*" />
                            <input type="file" class="custom-file-input" id="inputGroupFile02">
                        </div>

                        <div class="input-group-append">
                            <input type="submit" value="Upload" class="input-group-text" id="inputGroupFileAddon02"/>
                        </div>

    </form>
</div>




<div class="panel panel-default" style="margin: 10px">

    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>id</th>
                <th>nome</th>
                <th>caminho</th>
                <th>data</th>
                <th>tipo</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="registro : ${registro}">
                <td th:text="${registro.id}"></td>
                <td th:text="${registro.nome}"></td>
                <td th:text="${registro.caminho}"></td>
                <td th:text="${registro.data}"></td>
                <td th:text="${registro.tipo}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>



</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>
